 body {
  font-family: "Montserrat", sans-serif
    
  }
  
  .header li {
    list-style: none;
    text-align: center;
    float: right;
    /* Change the top & bottom padding to 33px, and left & right padding to 20px */
    padding:33px 20px 33px 20px;
    
  }
  
  .header {
    background-color: #26d0c9;
    color: #fff;
    height: 180px;
  }
  
  .header-logo {
    float: left;
    font-size: 36px;
    /* Change the top & bottom padding to 20px, and left & right padding to 40px */
    padding:20px 40px 20px 40px;
    
  }
  
  .main {
    background-color: #bdf7f1;
    height: 600px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    height: 40px;
    width: 40px;
    padding: 10px;
   
  }
  
  .footer {
    background-color: #ceccf3;
    height: 200px;
  }
  
  
  